@model IEnumerable<Farmer.Modern.Models.WaterMotor>

@{
    ViewData["Title"] = "موتور های آب";
}

<div class="page-title">
    <div class="title_left">
        <h3>موتور های آب</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    لیست موتور های آب
                </h2>
                <div class="clearfix"></div>

                <p>
                    <a class="btn btn-success" asp-action="Create">جدید</a>
                </p>
                <div class="clearfix"></div>

            </div>

            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr class="headings">
                            <th class="column-title"> @Html.DisplayNameFor(model => model.Name)</th>
                            <th class="column-title"> @Html.DisplayNameFor(model => model.Description)</th>
                            <th class="column-title no-link last">
                                <span class="nobr">عملیات</span>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>

                                <td>
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>