@model Farmer.Modern.Models.Garden

@{
    ViewData["Title"] = "مشاهده جزئیات";
}

<div class="page-title">
    <div class="title_left">
        <h3>مدیریت زمین ها</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    مشاهده جزئیات
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Size)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Size)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cultivation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cultivation)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gps)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gps)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatorUserId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatorUserId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreationDateTime)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreationDateTime)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </dl>
            </div>
            <div>
            </div>
        </div>
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">ویرایش</a> |
        <a class="btn btn-dark" asp-action="Index">بازگشت به لیست</a>
    </div>
</div>