@model Farmer.Modern.Dto.HomeDto
@{
    ViewData["Title"] = "داشبورد";
}
<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> عملیات های در حال انجام</span>
        <div class="count">@Model.WorkCount.InProgress</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> عملیات های در مرحله انجام</span>
        <div class="count">@Model.WorkCount.Todo</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> کارهای بلاک شده</span>
        <div class="count green">@Model.WorkCount.Block</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> کارهای انجام شده</span>
        <div class="count">@Model.WorkCount.Done</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> مجموعه کلی</span>
        <div class="count">@Model.WorkCount.All</div>
    </div>
</div>
