@model Farmer.Modern.Dto.WorkDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Work</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActionDatetime" class="control-label"></label>
                <input asp-for="ActionDatetime" class="form-control"/>
                <span asp-validation-for="ActionDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control"/>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control"/>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control"/>
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndActionDateTime" class="control-label"></label>
                <input asp-for="EndActionDateTime" class="form-control"/>
                <span asp-validation-for="EndActionDateTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownList("Status", null, htmlAttributes: new {@class = "form-control"})
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GardenId" class="control-label"></label>
                @Html.DropDownList("GardenId", null, htmlAttributes: new {@class = "form-control"})
                <span asp-validation-for="GardenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterMotorId" class="control-label"></label>
                @Html.DropDownList("WaterMotorId", null, htmlAttributes: new {@class = "form-control"})
                <span asp-validation-for="WaterMotorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                @Html.DropDownList("ProductId", null, htmlAttributes: new {@class = "form-control"})
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownList("CategoryId", null, htmlAttributes: new {@class = "form-control"})
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agent" class="control-label"></label>
                @Html.DropDownList("Agent", null, htmlAttributes: new {@class = "form-control"})
                <span asp-validation-for="Agent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>