@model Farmer.Modern.Dto.WorkDto

@{
    ViewData["Title"] = "عملیات";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    ثبت عملیات جدید
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form asp-action="Create" class="form-horizontal form-label-left">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="GardenId" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("GardenId", null, htmlAttributes: new {@class = "form-control col-md-7 col-xs-12"})
                        </div>
                        <span asp-validation-for="GardenId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="WaterMotorId" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("WaterMotorId", null, htmlAttributes: new {@class = "form-control col-md-7 col-xs-12"})
                        </div>
                        <span asp-validation-for="WaterMotorId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProductId" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("ProductId", null, htmlAttributes: new {@class = "form-control col-md-7 col-xs-12"})
                        </div>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("CategoryId", null, htmlAttributes: new {@class = "form-control col-md-7 col-xs-12"})
                        </div>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Status" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("Status", null, htmlAttributes: new {@class = "form-control col-md-7 col-xs-12"})
                        </div>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActionDatetime" class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="ActionDatetime" class="form-control col-md-7 col-xs-12"/>
                        </div>
                        <span asp-validation-for="ActionDatetime" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Size" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Size" class="form-control col-md-7 col-xs-12"/>
                        </div>
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Size" class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Size" class="form-control col-md-7 col-xs-12"/>
                        </div>
                        <span asp-validation-for="Size" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Type" class="form-control col-md-7 col-xs-12"/>
                        </div>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Description" class="form-control col-md-7 col-xs-12"/>
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndActionDateTime" class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="EndActionDateTime" class="form-control col-md-7 col-xs-12"/>
                        </div>
                        <span asp-validation-for="EndActionDateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Description" class="form-control col-md-7 col-xs-12">
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ثبت" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <a class="btn btn-dark" asp-action="Index">بازگشت</a>
</div>