@model IEnumerable<Farmer.Modern.Dto.WorkDto>

@{
    ViewData["Title"] = "عملیات";
}

<div class="page-title">
    <div class="title_left">
        <h3>لیست عملیات</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    لیست عملیات
                </h2>
                <div class="clearfix"></div>

                <p>
                    <a class="btn btn-success" asp-action="Create">جدید</a>
                </p>
                <div class="clearfix"></div>

            </div>

            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.GardenName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FullNameAgent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActionDatetime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndActionDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WaterMotorName)
                            </th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GardenName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullNameAgent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActionDatetime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndActionDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WaterMotorName)
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>