@model IEnumerable<Farmer.Modern.Dto.WorkDto>

@{
    ViewBag.Title = "گزارشات عملیات";
    Layout = "_Layout";
}

<div class="page-title">
    <div class="title_left">
        <h3>گزارش عملیات ها</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    فیلتر ها
                </h2>
                <div class="clearfix"></div>

                <form asp-action="Report" method="get" class="form-horizontal form-label-left">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="well" style="overflow: auto">
                        <div class="col-md-4">
                            از تاریخ

                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" name="startDate" id="single_cal1" placeholder="First Name" aria-describedby="inputSuccess2Status">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>

                        <div class="col-md-4">
                            تاریخ

                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" name="endDate" id="single_cal2" placeholder="First Name" aria-describedby="inputSuccess2Status2">
                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                            <span id="inputSuccess2Status2" class="sr-only">(success)</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>

                        <div class="col-md-4">
                            زمین

                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                         @Html.DropDownList("GardenId", null, htmlAttributes: new {@class = "form-control col-md-7 col-xs-12"})
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                        </div>


                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-success">جستجو</button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>

            </div>

            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.GardenName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FullNameAgent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActionDatetime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EndActionDateTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WaterMotorName)
                            </th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GardenName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullNameAgent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActionDatetime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndActionDateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WaterMotorName)
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">جزئیات</a> |
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>